<section id="stalker" class="pt-5 mt-5 pb-3">
  <div class="container">

    <button mat-button [matMenuTriggerFor]="menuMap">Map</button>
    <mat-menu #menuMap="matMenu">
      <button mat-menu-item (click)="changePlotlySrc('eigenVectorMap')">Map - Eigen Vector</button>
      <button mat-menu-item (click)="changePlotlySrc('closenessMap')">Map - Closeness</button>
      <button mat-menu-item (click)="changePlotlySrc('betweennessMap')">Map - Betweenness</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menuThreeD">3D</button>
    <mat-menu #menuThreeD="matMenu">
      <button mat-menu-item (click)="changePlotlySrc('eigenVector3D')">3D - Eigen Vector</button>
      <button mat-menu-item (click)="changePlotlySrc('closeness3D')">3D - Closeness</button>
      <button mat-menu-item (click)="changePlotlySrc('betweenness3D')">3D - Betweenness</button>
    </mat-menu>


    <mat-drawer-container class="example-container">
      <mat-drawer-content>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe id="plotly-frame" class="embed-responsive-item" frameborder="0" scrolling="no"
                  [src]="(plotlyToShow) | safe"></iframe>
        </div>
      </mat-drawer-content>
      <mat-drawer mode="side" opened="true" position="end">
        <div style="margin-left: 1vw;">
          <form class="form-container form-group" (ngSubmit)="onSubmit()">
            <div>
              <mat-form-field>
                <mat-select placeholder="Group" id="group" [(ngModel)]="formModel.group" name="group">
                  <mat-option *ngFor="let group of groups" [value]="group.value">
                    {{ group.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <input matInput placeholder="Age min" id="minAge" [(ngModel)]="formModel.minAge" name="minAge">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Age max" id="maxAge" [(ngModel)]="formModel.maxAge" name="maxAge">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <mat-select placeholder="Gym" id="gym" [(ngModel)]="formModel.gymId" name="gym">
                  <mat-option *ngFor="let gym of gyms" [value]="gym.value">
                    {{ gym.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div class="py-2">
              <div class="btn-group-justified">

                <label class="btn btn-elegant waves-light" name="reset" mdbCheckbox mdbRippleRadius (click)="resetForm()">
                  Reset
                </label>

                <button type="submit" [disabled]="onProcessing" class="btn btn-elegant waves-light" mdbRippleRadius>
                  Submit
                </button>
                <mat-spinner *ngIf="onProcessing" [color]="warn" [diameter]="30"></mat-spinner>

              </div>
            </div>
          </form>

        </div>


      </mat-drawer>

    </mat-drawer-container>
  </div>
</section>
