<!--Section: Personal card-->
<section id="community" class="pt-5 mt-5 pb-3">
  <div class="container">
    <h2>Comunity</h2>
    <h4>Some users that could interest you...</h4>

    <app-user-carousel></app-user-carousel>
    <div class="card my-4">
      <div class="card-body text-center">
        <input type="text" [formControl]="term" placeholder="Recherche par login...">
        <form class="py-2">
          <div class="btn-group-justified">
            <label class="btn btn-elegant waves-light" [(ngModel)]="checkModel.bronze" name="bronze" mdbCheckbox
                   mdbRippleRadius>
              Bronze
            </label>
            <label class="btn btn-elegant waves-light" [(ngModel)]="checkModel.silver" name="silver" mdbCheckbox
                   mdbRippleRadius>
              Silver
            </label>
            <label class="btn btn-elegant waves-light" [(ngModel)]="checkModel.gold" name="gold" mdbCheckbox
                   mdbRippleRadius>
              Gold
            </label>
          </div>
        </form>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4 col-lg-3 mb-4" *ngFor="let user of filteredUserList">
        <app-member-item [user]="user"></app-member-item>
      </div>
    </div>
  </div>

</section>
<!--Section: Personal card-->
