<ngu-carousel class="carouselAlign"
              [inputs]="carouselOne"
              (carouselLoad)="myfunc($event)">
  <ngu-item NguCarouselItem>
    <div class="carousselCards">

    <!-- Card Narrower -->
      <div *ngFor="let user of firstTurnCarousel" class="cardContainer">
        <img class="cardPictureCircle" src="assets/images/persons/{{user.image}}" alt="Profile's picture"/>
        <h2>{{user.username}}</h2>
        <p>Level: {{user.level}}</p>
        <p>Birthdate: {{user.birthday}}</p>
      </div>

    </div>
  </ngu-item>

  <ngu-item NguCarouselItem>
    <div class="carousselCards">

      <!-- Card Narrower -->
      <div *ngFor="let user of secondTurnCarousel" class="cardContainer">
        <img class="cardPictureCircle" src="assets/images/persons/{{user.image}}" alt="Profile's picture"/>
        <h2>{{user.username}}</h2>
        <p>Level: {{user.level}}</p>
        <p>Birthdate: {{user.birthday}}</p>
      </div>

    </div>
  </ngu-item>
  <ngu-item NguCarouselItem>
    <div class="carousselCards">

      <!-- Card Narrower -->
      <div *ngFor="let user of thirdTurnCarousel" class="cardContainer">
        <img class="cardPictureCircle" src="assets/images/persons/{{user.image}}" alt="Profile's picture"/>
        <h2>{{user.username}}</h2>
        <p>Level: {{user.level}}</p>
        <p>Birthdate: {{user.birthday}}</p>
      </div>

    </div>
  </ngu-item>
  <button NguCarouselPrev class='leftRs'>&lt;</button>
  <button NguCarouselNext class='rightRs'>&gt;</button>
</ngu-carousel>
