<ngu-carousel class="carouselAlign"
              [inputs]="carouselOne"
              (carouselLoad)="myfunc($event)">
  <ngu-item NguCarouselItem>
    <div class="carousselCards">
    <!-- Card Narrower -->
      <div class="cardContainer">
        <img class="cardPictureCircle" src="assets/images/persons/Benedict.jpg" alt="Profile's picture"/>
        <h2>Elizabeth Peralta</h2>
        <p>Objectif: Raffermissement fessier.</p>
        <p>Inscription: 26/01/2013</p>
      </div>

      <div class="cardContainer">
        <img class="cardPictureCircle" src="assets/images/persons/Benedict.jpg" alt="Profile's picture"/>
        <h2>Elizabeth Peralta</h2>
        <p>Objectif: Raffermissement fessier.</p>
        <p>Inscription: 26/01/2013</p>
      </div>

      <div class="cardContainer">
        <img class="cardPictureCircle" src="assets/images/persons/Benedict.jpg" alt="Profile's picture"/>
        <h2>Elizabeth Peralta</h2>
        <p>Objectif: Raffermissement fessier.</p>
        <p>Inscription: 26/01/2013</p>
      </div>

    </div>

  </ngu-item>





  <ngu-item NguCarouselItem>
    Est vraiment fonctionnel, mais surtout...
  </ngu-item>
  <ngu-item NguCarouselItem>
    Le mec qui l'a implementé dechire de fou :O!! Quel BG.
  </ngu-item>
  <button NguCarouselPrev class='leftRs'>&lt;</button>
  <button NguCarouselNext class='rightRs'>&gt;</button>
</ngu-carousel>
