<ngu-carousel class="carouselAlign"
  [inputs]="carouselOne"
  (carouselLoad)="myfunc($event)">
  <ngu-item NguCarouselItem>
    <div class="carousselCards">
      <div *ngFor="let workout of firstPartWorkouts" class="cardContainer">
        <a class="noDecoration" href="*">
        <img class="cardPictureCircle" src="assets/images/persons/{{workout.createdBy.image}}" alt="Profile's picture"/>
        </a>
        <a class="noDecoration"  href="*">
        <p>bla</p>
        <p>bla</p>
        <p>bla}</p>
        </a>
      </div>
    </div>
  </ngu-item>
  <ngu-item NguCarouselItem>
    <div class="carousselCards">
      <div *ngFor="let workout of secondPartWorkouts" class="cardContainer">
        <a class="noDecoration" href="*">
        <img class="cardPictureCircle" src="assets/images/persons/{{workout.createdBy.image}}" alt="Profile's picture"/>
        </a>
        <a class="noDecoration"  href="*">
          <p>bla</p>
          <p>bla</p>
          <p>bla}</p>
        </a>
      </div>
    </div>
  </ngu-item>
  <ngu-item NguCarouselItem>
    <div class="carousselCards">
      <div *ngFor="let workout of thirdPartWorkouts" class="cardContainer">
        <a class="noDecoration" href="*">
        <img class="cardPictureCircle" src="assets/images/persons/{{workout.createdBy.image}}" alt="Profile's picture"/>
        </a>
        <a class="noDecoration"  href="*">
          <p>bla</p>
          <p>bla</p>
          <p>bla}</p>
        </a>
      </div>
    </div>
  </ngu-item>
  <button NguCarouselPrev class="leftRs" color="transparent" mat-mini-fab>
    <mat-icon><i class="buttonPersoL fa fa-angle-left"></i></mat-icon>
  </button>
  <button NguCarouselNext class="rightRs" color="transparent" mat-mini-fab>
    <mat-icon><i class="buttonPersoR fa fa-angle-right"></i></mat-icon>
  </button>
</ngu-carousel>
