<section id="seances" class="pt-5 mt-5 pb-3" xmlns="">
  <div class="container">
    <div class="row">
      <div class="carouselAlign"></div>
      <app-seance-carousel></app-seance-carousel>
    </div>
    <div class="row">
      <!--bodyparts-->
      <div class="col-md-2 freeze">
        <div class="list-group" >
          <a *ngFor="let type of typeList; let i=index" class="list-group-item" (click)="select(type,i)" [ngClass]="{'active': selectedTypeIndex == i }">{{type}} </a>
        </div>
      </div>
      <!--/bodyparts-->

      <!--exercises-->
      <div class="col-md-10 afterFreeze">
        <div class="card card-cascade narrower">
          <div class="card-body">
            <!--Small news-->
            <div class="single-news">
              <div class="row">
                <div class="col-md-2 textCenter">
                  <strong>Créateur</strong>
                </div>
                <div class="col-md-2 textCenter">
                  <strong class="textCenter">Nom</strong>
                </div>
                <div class="col-md-2 textCenter">
                  <strong class="textCenter">Type </strong>
                </div>
                <div class="col-md-2 textCenter" >
                  <strong class="textCenter">Pause (sec)</strong>
                </div>
                <div class="col-md-2 textCenter" >
                    <strong class="textCenter">Note</strong>
                  </div>
              </div>
            </div>
            <div class="single-news" *ngFor="let workout of workoutList |slice:0:show let i=index">
              <div class="row">
                  <div class="col-md-2 textCenter">
                      <img src="assets/images/persons/{{workout.createdBy.image}}">
                      <strong>{{workout.createdBy.username}}</strong>
                    </div>
                    <div class="col-md-2 textCenter">
                      <strong class="textCenter">{{workout.name}}</strong>
                    </div>
                    <div class="col-md-2 textCenter">
                      <strong class="textCenter">{{workout.type}} </strong>
                    </div>
                    <div class="col-md-2 textCenter" >
                      <strong class="textCenter">{{workout.pause}}</strong>
                    </div>
                    <div class="col-md-2 textCenter" >
                        <div class="rating positionTop"><!--
                        --><a href="#5" title="Donner 5 étoiles">☆</a><!--
                        --><a href="#4" title="Donner 4 étoiles">☆</a><!--
                        --><a href="#3" title="Donner 3 étoiles">☆</a><!--
                        --><a href="#2" title="Donner 2 étoiles">☆</a><!--
                        --><a href="#1" title="Donner 1 étoile">☆</a>
                     </div>
                     </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-elegant waves-light positionTop" mdbRippleRadius (click)="showMore()">Ajouter
                        </button>
                    </div>
              </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-elegant waves-light" mdbRippleRadius (click)="showMore()"
                        [disabled]="buttonDisabled">More
                </button>
              </div>
            <!--/Small news-->
          </div>
        </div>
      </div>
      <!--/exercises-->


    </div>
  </div>
</section>
