<section id="workout-generator" class="pt-5 mt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-10"><h2 class="mb-4">Generate Your Workout</h2>

        <!--Section description-->
        <p>Answer the following questions for your personalized workout</p></div>
      <div class="col-2" *ngIf="workout">
        <button type="button" class="btn btn-success waves-light" mdbWavesEffect (click)="sendWorkoutToPlanning()">Save and add to my planning</button>
      </div>

    </div>


    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div  [ngClass]="(workout)? 'col-lg-5':'col-lg-12'">

        <app-workout-form (onFormSubmitted)="getGeneratedWorkout($event)"></app-workout-form>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div *ngIf="workout" class="col-lg-7 col-md-12">

        <app-workout-routine [workout]="workout"></app-workout-routine>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
  </div>
</section>
