<!--Card-->
<div class="card card-personal">

  <!--Card image-->
  <img class="img-fluid" src="assets\images\persons\{{user.image}}" alt="Card image cap">
  <!--Card image-->

  <!--Card content-->
  <div class="card-body">
    <!--Title-->
    <a><h4 class="card-title title-one">{{user.username}}</h4></a>
    <p class="card-meta">{{getAge()}} ans</p>

    <!--Text-->
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, fuga?</p>
    <hr>
    <div class="text-right">
      <button type="button" class="btn btn-sm btn-elegant waves-light" mdbRippleRadius
              (click)="openSnackBar()" [ngClass]="isDisabled ? 'disabled' : ''">Demande d'ami
      </button>
    </div>
  </div>
  <!--Card content-->

</div>
<!--Card-->
